fastapi
uvicorn
python-multipart
python-dotenv
pillow
supabase
opencv-python
moviepy
numpy
langchain
langchain-core
langchain-google-genai
langchain-community
paramiko
httpx
langchain-google-genai
python-dotenv
pillow
opencv-python-headless
pydantic>=2.0.0
langchain-core
langchain-community
pypdf
faiss-cpu
